<head>
<style>
    body {
        font-family: helvetica;
        color: Blue;
        background-image: url('./gradient85opacity.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
         }
    </style> 
</head>