@font-face {
  font-family: 'KCBoldRose';
  src: url('../img/KCBoldRose-Inked.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
  }

body {
    color: Blue;
    background-image: url('../img/gradient85opacity.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .h3 {
        font-family: 'KCBoldRose';
        font-weight: 50;
        font-size: 80px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border: solid blue;
        border-radius: 8px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 10px 10px rgb(117, 255, 93);
    }
    .article1 {
            font-family: 'raleway', sans-serif;
            font-weight: 100;
            font-size: 30px;
            background-image: url('../img/Untitled_Artwork\ 3.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            border: solid blue;
            border-radius: 8px;
            margin-left: 80px;
            margin-right: 80px; 
            margin-top: 10px;
            padding-left: 20px;
            box-shadow: 10px 10px;
    }

    .divcentre {
        display: flex; 
        justify-content: center; 
        align-items: center;
        margin-top: 20px;
    }
    
    .div1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 60px;
        color: blue;
        text-align: center;
        text-shadow: 2px 2px 3px rgb(117, 255, 93), 0 0 25px rgb(255, 192, 252), 0 0 5px rgb(117, 255, 93);
    }
}
  