body {
    color: Blue;
    background-image: url('./nixonmeg.github.io/gradient85opacity.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .h3 {
        font-weight: 100;
        font-size: 200px;
        color: rgb(154, 255, 47);
        text-align: center;
        padding-top: 20px;
        border: solid blue;
        background-color: blue;
        border-radius: 8px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}